.animate__delay-05s{
  animation-delay: .05s
}

.animate__delay-010s{
  animation-delay: .10s
}

.animate__delay-015s{
  animation-delay: .15s
}

.animate__delay-020s{
  animation-delay: .20s
}

.animate__delay-025s{
  animation-delay: .25s
}

.animate__delay-030s{
  animation-delay: .30s
}

.animate__delay-035s{
  animation-delay: .35s
}